<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>留言</title>

    </head>
    <body>
        <h3>留言</h3>
        <!--我注释一下-->
        <!--method  GET && POST-->
        <form action="/online/save/" method="GET">
            <!--输入一个输入框-->
            <label> 用户名：</label> <input type="text" name="username" /><br /><br />
            年龄：<input type="text" name="age" /><br /><br />
            电话：<input type="text" name="tel" /><br /><br />
            <input type="submit" value="留言"/>
        </form>
    </body>
</html>

